<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit</title>
</head>
<body>
    <form action="/products/<%= products.id %>?_method=put" method="post">
        <label for="name">Name</label> <input type="text" name="name" id="name" value="<%= products.name %>"> <br>
        <label for="brand">Brand</label> <input type="text" name="brand" id="brand" value="<%= products.brand %>"> <br>
        <label for="color">Color</label> <input type="text" name="color" id="color" value="<%= products.color %>"> <br>
        <label for="price">Price</label> <input type="text" name="price" id="price" value="<%= products.price %>"> <br>
        <label for="category">Category: </label>
        <select name="category" id="category">
            <option value="Baju" <%= products.category == "Baju" ? "selected" : "" %>>Baju</option>
            <option value="Fashion" <%= products.category == "Fashion" ? "selected" : "" %>>Fashion</option>
        </select>
        <button type="submit">Submit</button>
    </form>
</body>
</html>
