<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Show</title>
  </head>
  <body>
    <h1><%= products.name %></h1>
    <a href="/products">All Products</a>
    <ul>
      <li>Brand : <%= products.brand %></li>
      <li>Color : <%= products.color %></li>
      <li>Category : 
        <a href="/products?category=<%= products.category %>"><%= products.category %></a>
      </li>
      <li>Price : <%= products.price %></li>
    </ul>
    <a href="/products/edit/<%= products.id %>"><button>Edit</button></a>
    <form action="/products/delete/<%= products.id %>?_method=delete" method="post">
      <button type="submit">Delete</button>
    </form>
  </body>
</html>
